@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Tsukimi Rounded, sans-serif;
}

main {
  padding: 20px 20px;
  background: linear-gradient(color(a98-rgb 0.22 0.15 0.1 / 0.87), color(a98-rgb 0.22 0.15 0.1 / 0.87)), url("./Images/libro-biblioteca-libro-texto-abierto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main h1 {
  padding-bottom: 20px;
}

main > h2 {
  padding-top: 20px;
}

button {
  background-color: skyblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px 5px 5px 0;
  font-family: Tsukimi Rounded, sans-serif;
}

.blur-effect {
  filter: blur(5px);
}

#book-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  position: fixed;
  left: 10%;
  z-index: 999;
  background-color: white;
  width: 80%;
  padding: 20px 0;
  border-radius: 10px;
  animation-name: pop-up;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, -0.37, 0.02, 1.59);
}

@keyframes pop-up {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#checkbox-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#read {
  transform: scale(1.4);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputs input {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid pink;
  background-color: blanchedalmond;
}

.inputs input:focus {
  outline-color: rgb(0, 0, 61);
}

.inputs input:invalid {
  outline-color: crimson;
}

.inputs input:valid {
  outline-color: green;
}

#books {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px 20px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px;
}

.books p {
  border-bottom: 1px solid blue;
  padding: 10px 0;
}
